form {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

input {
  height: 35px;
  margin-bottom: 5px;
}

.rgb-input {
  background-color: #0000007a;
  color: #fff;
}